
table
    tr
        th LoanID
        th drawdownDate
        th drawdownAmount
        th loanAllocation
    tr
        td #{loanId}
        td #{drawdownDate}
        td #{drawdownAmount}
        td #{loanAllocation}
    
